<% if presenter.external_metadata_file_set_presenters.present? %>
<div class="panel panel-default related_files" id="metadata-files">
  <div class="panel-heading">
    <h2>Metadata Files</h2>
  </div>
  <table class="table table-striped" data-query-url="<%= polymorphic_path([main_app, :curation_concerns, presenter.model_name.singular], id: @presenter.id) %>" data-members="<%= @presenter.parent_work_presenters.map(&:id) %>" data-param-key="<%= @presenter.model_name.param_key %>">
    <thead>
      <tr>
        <th>Filename</th>
        <th>Date Uploaded</th>
        <th>Visibility</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'geo_concerns/related/external_metadata_file_member', collection: presenter.external_metadata_file_set_presenters %>
    </tbody>
  </table>
</div>
<% elsif can? :edit, presenter.id %>
  <h2>Metadata Files</h2>
  <p class="center"><em>This <%= presenter.human_readable_type %> has no metadata files associated with it. You can add one using the "Attach a File" button below.</em></p>
<% end %>
