<% if presenter.geo_file_set_presenters.present? %>
<div class="panel panel-default related_files">
  <div class="panel-heading">
    <h2><%= geo_work_type(presenter) %> File</h2>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>File</th>
        <th>Filename</th>
        <th>Date Uploaded</th>
        <th>Visibility</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <%= render partial: 'member', collection: @presenter.geo_file_set_presenters %>
    </tbody>
  </table>
</div>
<% elsif can? :edit, presenter.id %>
  <h2><%= geo_work_type(presenter) %> File</h2>
  <p class="center"><em>This <%= presenter.human_readable_type %> doesn't have an <%= geo_work_type(presenter).downcase %> file associated with it.</em></p>
<% end %>
