<% if presenter.work_presenters.present? %>
  <div class="panel panel-default raster_works">
    <div class="panel-heading">
      <h2><%= child_geo_works_type(presenter) %> Works</h2>
    </div>
    <table class="table">
      <thead>
        <tr>
          <th class="col-xs-3"></th>
          <th>Work Name</th>
        </tr>
      </thead>
      <tbody>
        <% presenter.work_presenters.each do |res| %>
          <tr class="file_set attributes">
            <td class="thumbnail" style="margin-bottom: 0px">
              <%= render_thumbnail_tag res %>
            </td>
            <td>
              <%= link_to res.title.first, polymorphic_path([main_app, res]) %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% elsif can? :edit, presenter.id %>
  <% if child_geo_works_type(presenter) %>
    <h2><%= child_geo_works_type(presenter) %> Works</h2>
    <p class="center"><em>This <%= presenter.human_readable_type %> has no <%= child_geo_works_type(presenter).downcase %> works associated with it.</em></p>
  <% end %>
<% end %>
